body{
  background-color:grey;
  border:2px solid red;
}

.topbar{
  border: 1px solid red;
  padding:2px;
  background-color: black;
  display:flex;
  justify-content:space-between;

}

.buttons{
  display:flex;
  justify-content:space-around;


}

.buttons > div{
  align-self:center;
  padding:5px;


}

a{
  color:white;
  text-decoration: none;
}

article{
  background-color:white;
  text-align:center;
  font-size:300%;
  opacity
  color:black;
  font-family:fantasy;
  background-image:url("../img/d20.png");
  background-size:500px;
  background-repeat:no-repeat;
  background-position: center;
  opacity:1;
}
